entrypoint = "test.py"
modules = ["python-3.11"]
run = "python -m streamlit run test.py --server.address=0.0.0.0 --server.port=8501 --server.headless=true"

[nix]
channel = "stable-24_05"
packages = ["cacert", "freetype", "gcc", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "-m", "streamlit", "run", "test.py", "--server.address=0.0.0.0", "--server.port=8501", "--server.headless=true"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8501
externalPort = 80

[agent]
expertMode = true
